<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>字幕翻译</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" href="static/css/style.css"> 
</head>

<body class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">字幕翻译</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">主页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">如何使用</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于我 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">王胜利</a></li>
                            <li><a href="#">Github: slimwang</a></li>
                            <li><a href="#">Email: netbot@vip.qq.com</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">赞助这个项目</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <!-- return info -->
    <div class="hidden well well-lg alert-info">
        <p id="return-info"></p>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <input type="text" id='file_name_input' class="form-control" placeholder="eg: qbBngrXR2Mo.srt">
                    <span id='trans-btn' class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-text-width" aria-hidden="true"></span>翻译</button>
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <textarea id="to_translate_textarea" class="form-control" rows="25" placeholder="To translate."></textarea>
            </div>
            <div class="col-md-6">
                <textarea id="translated_textarea" class="form-control" rows="25" placeholder="Translated."></textarea>
            </div>
        </div>

    </div>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- bootstrap js file -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $('#trans-btn').click(function() {
            file_name = $('#file_name_input').val();
            $.get('/search/' + file_name, function(res) {
                $("#to_translate_textarea").val(res);
            });
            $.get('/translate/' + file_name, function(res) {
                $('#return-info').parent().removeClass("hidden");
                $("#return-info").text(res);
            });
        });
    </script>
</body>

</html>
